<!-- Toolbar -->
<div class="obligation m-5">
  <div>
    <h5>{{ formTitle }}</h5>
  </div>
  <div class="obligation__search">
    <form class="obligation__search__form">
      <div class="row obligation__search__form--condition">
        <div class="col-12 col-lg-6 form-group row">
          <label for="code" class="col-4 col-lg-3">{{ codeLabel }} </label>
          <input type="text" id="code" [(ngModel)]="code" name ="code" class="form-control col-lg-7 col-8">
        </div>
        <div class="col-12 col-lg-6 row">
          <label for="statusMapping" class="col-4 col-lg-3">{{ statusMappingLabel }}</label>
          <select class="form-control col-lg-7 col-8" [(ngModel)]="statusMapping" name="statusMapping" id="statusMapping">
            <option value=" ">Chọn Mapping</option>
            <option value="1">Tất cả</option>
            <option value="-1">Đã Mapping</option>
            <option value="0">Chưa Mapping</option>
          </select>
        </div>
        <div class="col-12 col-lg-6 row">
          <label for="effectiveStatus" class="col-4 col-lg-3">{{ effectiveStatusLabel }}</label>
          <select class="form-control col-lg-7 col-8" [(ngModel)]="effectiveStatus" name="effectiveStatus" id="effectiveStatus">
            <option value=" ">Chọn tình trạng hiệu lực</option>
            <option value="1">Tất cả</option>
            <option value="-1">Còn hiệu lực</option>
            <option value="0">Hết hiệu lực</option>
          </select>
        </div>
        <div class="col-12 col-lg-6 row">
          <label for="statusApproval" class="col-4 col-lg-3">{{ statusApprovalLabel }}</label>
          <select class="form-control col-lg-7 col-8" [(ngModel)]="statusApproval" name="statusApproval" id="statusApproval">
            <option value=" ">Chọn trạng thái cập nhật</option>
            <option value="-1">Khởi tạo</option>
            <option value="0">Chờ duyệt</option>
            <option value="1">Đang cập nhật</option>
            <option value="2">Từ chối</option>
            <option value="3">Đã duyệt</option>
          </select>
        </div>
      </div>
      <div class="obligation__search__form--button">
        <button type="reset" class="obligation__search__form--clear-button">Clear</button>
        <button type="button" class="obligation__search__form--search-button" [class.disabled]="!canSubmit()"  [disabled]="!canSubmit()" (click)="submitForm()">
          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg%22%3E">
            <path
              d="M17.5 17.5L13.875 13.875M15.8333 9.16667C15.8333 12.8486 12.8486 15.8333 9.16667 15.8333C5.48477 15.8333 2.5 12.8486 2.5 9.16667C2.5 5.48477 5.48477 2.5 9.16667 2.5C12.8486 2.5 15.8333 5.48477 15.8333 9.16667Z"
              stroke="white" stroke-width="1.67" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          Tìm kiếm
        </button>
      </div>
    </form>
  </div>
  <div class="obligation__list mt-5">
    <div class="obligation__list__header row">
      <h5 class="col-12 col-lg-4">{{ listTitle }}</h5>
      <div class="obligation__list__header__action row col-12 col-lg-8">
        <div class="obligation__list__header__action--count-checkbox">Đã chọn {{selectedCount}} nghĩa vụ</div>
        <div><button class="obligation__list__header__action--detail-button">Lấy thông tin bóc tách</button></div>
        <div><button class="obligation__list__header__action--add-button">Thêm mới</button></div>
      </div>
    </div>
    <div class="obligation__list__top row">
      <div class="obligation__list__title">
      </div>
      <div class="obligation__list__top--action"></div>
    </div>
    <div class="obligation__list__table">
      <table class="table">
        <thead>
        <tr>
          <th><input type="checkbox" class="checkbox" [(ngModel)]="selectAll" (change)="toggleSelectAll()"></th>
          <th>STT</th>
          <th>Mã phụ lục</th>
          <th>Mục lục</th>
          <th>Mã nghĩa vụ</th>
          <th>Hoạt động cấp 1</th>
          <th>Hoạt động cấp 2</th>
          <th>Hoạt động cấp 3</th>
          <th>Khâu cấp 1</th>
          <th>Khâu cấp 2</th>
          <th>Mô tả hoạt động</th>
          <th>Mô tả hoạt động cấp kiểm soát</th>
          <th>Cấp thực hiện</th>
          <th>Cấp kiểm soát</th>
          <th>Topic</th>
          <th>Xác định nghĩa vụ tuân thủ</th>
          <th>Dự phòng 1</th>
          <th>Dự phòng 2</th>
          <th>Dự phòng 3</th>
          <th>Tình trạng hiệu lực</th>
          <th>Ngày hết hiệu lực</th>
          <th>Trạng thái cập nhật</th>
          <th>Mapping</th>
          <th>Thời gian cập nhật</th>
          <th>Hành động<div class="last-child-th"></div></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let obligation of obligations; let i = index">
          <th><input type="checkbox" class="checkbox" [(ngModel)]="obligation.selected" (change)="updateSelectedCount()"></th>
          <td>{{i + 1}}</td>
          <td>{{obligation.indexCode}}</td>
          <td>{{obligation.addendum}}</td>
          <td>{{obligation.code}}</td>
          <td>{{obligation.action1}}</td>
          <td>{{obligation.action2}}</td>
          <td>{{obligation.action3}}</td>
          <td>{{obligation.stepLevel1}}</td>
          <td>{{obligation.stepLevel2}}</td>
          <td>{{obligation.descriptionAct}}</td>
          <td>{{obligation.descriptionCtrl}}</td>
          <td>{{obligation.levelAct}}</td>
          <td>{{obligation.levelCtrl}}</td>
          <td>{{obligation.topic}}</td>
          <td>{{obligation.defineRule}}</td>
          <td>{{obligation.preventive1}}</td>
          <td>{{obligation.preventive2}}</td>
          <td>{{obligation.preventive3}}</td>
          <td>{{obligation.effectiveStatus}}</td>
          <td>{{obligation.effectiveEndDate}}</td>
          <td>{{obligation.statusApproval}}</td>
          <td>{{obligation.statusMapping}}</td>
          <td>{{obligation.modifiedDate}}</td>
          <td><div class="last-child-td"></div></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>




